body {
  margin-top: 60px;
  font-family: "Marcellus", serif;
  color: #ffffff;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  filter: drop-shadow(4px 4px 3px #68383e);
}

h1 {
  margin-top: 20px;
  color: #68383e;
  filter: drop-shadow(4px 4px 2px #68383e);
  font-size: 55px;
}

button {
  background-color: #734046;
  color: #ffffff;
  border: 2px solid #68383e;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #68383e;
  margin: 16px 0px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  height: 19px;
  line-height: 1;
  list-style: none;
}

a {
  color: #734046;
  font-weight: bold;
  font-size: 20px;
}

small {
  display: block;
  text-align: center;
  color: #68383e;
  font-size: 15px;
  margin: 5px 10px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.app-wrapper {
  margin: 30px auto;
  max-width: 800px;
}

.app {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/25/02/33/creation-of-man-1159966_1280.jpg");
  background-color: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 25px 25px 25px 30px;
  border: 1.5px solid #734046;
  border-radius: 10px;
  box-shadow: 9px 9px 5px #68383e;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
  filter: drop-shadow(4px 4px 2px #68383e);
}

.weather-temperature strong {
  color: #fff;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  top: -34px;
  font-size: 20px;
  font-weight: bold;
}

.weather-temperature .active {
  color: #fff;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.forecast li {
  color: #fff;
  filter: drop-shadow(4px 4px 2px #49282c);
}

.weather-forecast {
  margin-top: 10px;
  filter: drop-shadow(4px 4px 1px #49282c);
  text-align: center;
  line-height: 15px;
}

.weather-forecast h3 {
  font-size: 20px;
  height: 15px;
  padding-top: 7px;
}

.weather-forecast-temperature {
  font-size: 22px;
  height: auto;
  padding: 7px;
  margin: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 55px;
  width: 55px;
}

.weather-forecast-temperature .max {
  font-weight: bold;
}

button:hover {
  background-color: #ffffff;
  color: #734046;
}
.current-location {
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.icons {
  font-size: 50px;
  filter: drop-shadow(5px 7px 3px #68383e);
  position: relative;
}

.open-source {
  text-align: center;
  color: #68383e;
  font-size: 18px;
  margin-top: 30px;
}

.name {
  font-size: 15px;
}
