body {
  margin-top: 60px;
  font-family: "Marcellus", serif;
  color: #ffffff;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  filter: drop-shadow(4px 4px 3px #68383e);
}

h1 {
  margin-top: 20px;
  color: #68383e;
}

button {
  background-color: #734046;
  color: #ffffff;
  border: 2px solid #68383e;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #68383e;
  margin: 16px 0px;
  font-size: 18px;
  font-weight: bold;
  height: 19px;
  line-height: 1;
  list-style: none;
}

a {
  color: #734046;
  font-weight: bold;
  font-size: 20px;
}

small {
  display: block;
  text-align: center;
  color: #68383e;
  font-size: 15px;
  margin: 5px 10px;
}

footer {
  padding: 10px 5px;
  text-align: center;
}

.open-source {
  text-align: center;
  color: #68383e;
  font-size: 15px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: #fff;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.app {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/25/02/33/creation-of-man-1159966_1280.jpg");
  background-size: 900px 682px;
  background-repeat: no-repeat;
  padding: 25px 25px 25px 30px;
  border: 1.5px solid #734046;
  border-radius: 10px;
  box-shadow: 9px 9px 5px #68383e;
  margin: 30px auto;
  max-width: 800px;
}

.container {
  margin: 70px;
}

.forecast,
.day {
  font-size: 25px;
  font-weight: bold;
  filter: drop-shadow(4px 4px 3px #68383e);
}

.forecast li {
  color: #fff;
}

.temperature {
  margin: 30px 0 10px 0;
}

.day {
  margin: 10px 0px 20px 0px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.degrees {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

button:hover {
  background-color: #ffffff;
  color: #734046;
}
.current-location {
  color: red;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}

.icons {
  font-size: 50px;
  filter: drop-shadow(5px 7px 3px #68383e);
  position: relative;
}
